
<section class="row">
  <div class="col-md-12">
    <p>This is a page that lets you see your contacts and meeting times in their local timezones on Google Maps.</p>

    <form ng-submit="login()"
      style="margin-top:30px;">

      <h3>Username</h3>
      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Username"
        ng-model="username"></input>
      </div>

      <h3>Password</h3>
      <div class="form-group">
        <input type="password"
        class="form-control"
        placeholder="Password"
        ng-model="password"></input>
      </div>
      <button type="submit" class="btn btn-primary">Post</button>
    </form>
  </div>
</section>